// Main font (see fonts.scss for Japanese character set fonts)
$font-content: 'Pokemon GB';
$font-heading: 'Press Start 2P';

// Colours
$neutral: #F8F3F8;
$contrast: #181010;
$primary-accent: #48A058;
$secondary-accent: #F0B088;
$danger-accent: #B3181C;