/* Freeware Font Credits: https://www.fontspace.com/jackster-productions/pokemon-gb */

@font-face {
    font-family: "Pokemon GB";
    src: url("fonts/Pokemon GB.woff") format('woff');
    src: url("fonts/Pokemon GB.ttf") format('truetype');
}

@font-face {
    font-family: "Press Start 2P";
    src: url("fonts/PressStart2P-Regular.woff") format('woff');
    src: url("fonts/PressStart2P-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Pokemon Unown GB";
    src: url("fonts/Pokemon Unown GB.woff") format('woff');
    src: url("fonts/Pokemon Unown GB.ttf") format('truetype');
}

@font-face {
    font-family: "Pokemon GB Japan KT";
    src: url("fonts/Pokemon GB Japan KT.woff") format('woff');
    src: url("fonts/Pokemon GB Japan KT.ttf") format('truetype');
}

@font-face {
    font-family: "Pokemon GB Japan HR";
    src: url("fonts/Pokemon GB Japan HR.woff") format('woff');
    src: url("fonts/Pokemon GB Japan HR.ttf") format('truetype');
}
