button{
    position: relative;
    font-family: $font-content;
    background: none;
    border: none;
    padding: 0 0 0 2em;
    text-transform: uppercase;
    cursor: pointer;
    
    &:hover::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 2px;
        font-size: 2px;
        color: $contrast;
        box-shadow: 
            1em 0em, 2em 0em,
            1em 1em, 2em 1em, 3em 1em,
            1em 2em, 2em 2em, 3em 2em, 4em 2em,
            1em 3em, 2em 3em, 3em 3em, 4em 3em, 5em 3em,
            1em 4em, 2em 4em, 3em 4em, 4em 4em,
            1em 5em, 2em 5em, 3em 5em,
            1em 6em, 2em 6em,;
    }

    &.pokemon{
        text-indent: -1000em;
        width: 40px;
        background: url('./images/pkmn.png') 24px center no-repeat;
    }
}

ul.buttons{
    display: flex;
    padding: 0;
    list-style: none;
    flex-direction: column;

    li{
        padding: 0;
        margin: 0.5em;
    }

    &.compact{
        flex-direction: row;
        flex-wrap: wrap;

        & li {
            flex-basis: 45%;
        }
    }


}