@import '_variables.scss';
@import '_mixins.scss';
@import '_fonts.scss';
@import 'resets.scss';
@import 'frames.scss';
@import 'input.scss';
@import 'progress-bars.scss';

body{
    font-family: $font-content;
    font-smooth: never;
    -webkit-font-smoothing : none;

    background: $neutral;
    color: $contrast;

    font-size: 11px;
    image-rendering: pixelated;
}

h1, h2, h3, h4, h5, h6{
    font-weight: normal;
}

.wrapper{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.options{
    display: flex;
    justify-content: space-around;
}

.opponent{
    text-align: center;
    padding: 1em;

    img{
        width: 64px;
    }
    
    animation-name: floater;
    animation-duration: 6000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

.message span{
    font-weight: bolder;
}

/*
    Styling, specifically for the demo
*/
.github{
    position: fixed;
    right:0;
    top: 0;
    width: 300px;
    background: $neutral;
    padding: 2em;
}

@keyframes floater {
    0% { transform: translate(0, 0); }
    50% { transform: translate(2px, 20px); }
    100% { transform: translate(0, 0); }
}