.progress-bar{
    position: relative;
    width: 100%;
    height: 5px;
    
    border-image: url('./images/progress-frame.png') 1 round;
    border-width: 4px;
    border-style: solid;
    background-clip: padding-box;
}

@for $i from 1 through 100 {
    .progress-bar.p#{$i}::after { 
        content: '';
        display: inline-block;

        @if $i < 21 {
            background: $danger-accent;
        } @else if $i < 51 {
            background: $secondary-accent;
        } @else{
            background: $primary-accent;
        }
        width: #{$i + '%'};
        height: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }
}