.progress-bar-container{
    display: flex;
    align-items: center;
}

.progress-bar{
    position: relative;
    width: 100%;
    height: 4px;
    
    border-image-slice: 1;
    border-image-width: 2px;
    border-image-outset: 2px;
    border-image-repeat: stretch stretch;
    border-image-source: url('./images/progress-frame.png');
    background-clip: padding-box;
}

@for $i from 1 through 100 {
    .progress-bar.p#{$i}::after { 
        content: '';
        display: inline-block;

        @if $i < 21 {
            background: $danger-accent;
        } @else if $i < 51 {
            background: $secondary-accent;
        } @else{
            background: $primary-accent;
        }
        width: #{$i + '%'};
        height: 4px;
        position: absolute;
        top: 0;
        left: 0;
    }
}